@model WebApplication.DataModels.Models.Invoice
@{
    ViewData["Title"] = "Add Invoice";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <br />

            <form method="post" asp-controller="invoice" asp-action="CreateInvoice" class="form-horizontal">
                <div class="row">

                    <div class="col-md-12">

                        <div>
                            <label for="InvoiceTypeDropDown">Typ Faktury: </label>
                            @Html.DropDownList("invoice.InvoiceType", ViewBag.InvoiceTypeEnumList as SelectList)
                        </div>

                    </div>

                    <div class="col-md-6">

                        <label class="form-label">Dane osobowe odbiorcy</label>

                        <div class="form-group">
                            <label for="password">Imię</label>
                            <input class="form-control" placeholder="Imię odbiorcy" type="text" name="invoice.Contractor.FirstName" />
                        </div>

                        <div class="form-group">
                            <label for="password">Nazwisko</label>
                            <input class="form-control" placeholder="Nazwisko odbiorcy" type="text" name="invoice.Contractor.SecondName" />
                        </div>

                        <div class="form-group">
                            <label for="password">Nazwa Firmy</label>
                            <input class="form-control" placeholder="Nazwa firmy" type="text" name="invoice.Contractor.CompanyName" />
                        </div>

                        <div class="form-group">
                            <label for="password">NIP</label>
                            <input class="form-control" placeholder="Numer identyfikacji podatkowej" type="text" name="invoice.Contractor.NIP" />
                        </div>

                        <div class="form-group">
                            <label for="password">E-mail</label>
                            <input class="form-control" placeholder="Adres e-mail odbiorcy" type="text" name="invoice.Contractor.Email" />
                        </div>

                        <div class="form-group">
                            <label for="password">Telefon</label>
                            <input class="form-control" placeholder="Numer telefonu odborcy" type="tel" name="invoice.Contractor.Phone" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Dane adresowe odbiorcy</label>

                        <div class="form-group">
                            <label for="password">Ulica</label>
                            <input class="form-control" placeholder="Nazwa ulicy" type="text" name="invoice.Contractor.Address.Street" />
                        </div>

                        <div class="form-group">
                            <label for="password">Numer domu</label>
                            <input class="form-control" placeholder="Numer domu" type="text" name="invoice.Contractor.Address.HouseNumber" />
                        </div>

                        <div class="form-group">
                            <label for="password">Numer lokalu</label>
                            <input class="form-control" placeholder="Numer lokalu" type="text" name="invoice.Contractor.Address.LocalNumber" />
                        </div>

                        <div class="form-group">
                            <label for="password">Kod pocztowy</label>
                            <input class="form-control" placeholder="Kod pocztowy" type="text" name="invoice.Contractor.Address.PostCode" />
                        </div>

                        <div class="form-group">
                            <label for="password">Miasto</label>
                            <input class="form-control" placeholder="Miasto" type="text" name="invoice.Contractor.Address.City" />
                        </div>

                        <div class="form-group">
                            <label for="password">Kraj</label>
                            <input class="form-control" placeholder="Kraj" type="text" name="invoice.Contractor.Address.Country" value="Polska" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label class="form-label">Lista pozycji faktury</label>

                        <table class="table table-bordered table-dark" id="positionTable">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-md-1">Lp.</th>
                                    <th scope="col" class="col-md-2">Nazwa</th>
                                    <th scope="col" class="col-md-1">Ilość</th>
                                    <th scope="col" class="col-md-2">Jednostka miary</th>
                                    <th scope="col" class="col-md-2">Wysokość podatku [%]</th>
                                    <th scope="col" class="col-md-2">Wartość Brutto [zł]</th>
                                    <th scope="col" class="col-md-2">Wartość Netto [zł]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td><input class="form-control" placeholder="Nazwa" type="text" name="invoice.Positions[0].Name" /></td>
                                    <td><input class="form-control" placeholder="Ilość" type="text" name="invoice.Positions[0].Quantity" /></td>
                                    <td>
                                        <select class="form-control" name="invoice.Positions[0].Unit">
                                        <option>Doba hotelowa</option>
                                        <option>Szt</option>
                                        <option>Kg</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" placeholder="Wysokość podatki" type="text" name="invoice.Positions[0].TaxLevel" /></td>
                                    <td><input class="form-control" placeholder="Wartość Brutto" type="text" name="invoice.Positions[0].BruttoPrice" /></td>
                                    <td><input class="form-control" placeholder="Wartość Netto" type="text" name="invoice.Positions[0].NettoPrice" /></td>
                                </tr>
                            </tbody>
                        </table>

                        <button type="button" class="btn-dark" id="addRowButton">Dodaj pozycję</button>
                        <br />
                    </div>


                    <div class="col-md-12">
                        <button type="submit" class="btn-danger">Utwórz fakturę</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">

    var currentColumnIndex = 0;
    const positionTable = document.getElementById("positionTable");
    const addButton = document.getElementById("addRowButton");

    addButton.addEventListener("click", function () {

        currentColumnIndex = currentColumnIndex + 1;

        var row = positionTable.insertRow(-1);

        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);
        var cell7 = row.insertCell(6);

        cell1.innerHTML =  (currentColumnIndex + 1).toString();
        cell2.innerHTML = "<input class='form-control' placeholder='Nazwa' type='text' name='invoice.Positions[" + currentColumnIndex.toString() + "].Name' />";
        cell3.innerHTML = "<input class='form-control' placeholder='Ilość' type='text' name='invoice.Positions[" + currentColumnIndex.toString() + "].Quantity' />";
        cell4.innerHTML = "<select class='form-control' name='invoice.Positions[" + currentColumnIndex.toString() + "].Unit' > <option>Doba hotelowa</option> <option>Szt</option> <option>Kg</option> </select>";
        cell5.innerHTML = "<input class='form-control' placeholder='Wysokość podatku' type='text' name='invoice.Positions[" + currentColumnIndex.toString() + "].TaxLevel' />";
        cell6.innerHTML = "<input class='form-control' placeholder='Wartość Brutto' type='text' name='invoice.Positions[" + currentColumnIndex.toString() + "].BruttoPrice' />";
        cell7.innerHTML = "<input class='form-control' placeholder='Wartość Netto' type='text' name='invoice.Positions[" + currentColumnIndex.toString() + "].NettoPrice' />";

    });

</script>